body{
	font-size: 12px;
	font-family: arial;
	line-height: 2em;
}
a{
	color:#727272;
	text-decoration:none;   
}
a:hover {text-decoration:underline;color:#b9f605;} 


.menu{
	font-size: 14px;
    color:#b9f605;
    font-weight: 900;  
}
.special{
	color: #fdb306;
}
table tr td a{
    	color:white;
    	}
table tr td ul li a{
    color:#727272;
    font-family:"微软雅黑";
    }
table tr td p a{
    color:#727272;
    font-family:"微软雅黑";
    }